div.logo {
    padding: 15px;
    margin: 10px;
    background-color: #bbb;
    display: inline-block;
    text-align: center;
    border: medium solid black;
}

.wizard-body {
    width: 85%;
    margin: auto;
    margin-bottom: 25px;
}

select {
    padding: 4px;
}

.wizard-configuration-section input {
    width: 400px;
}

.wizard-configuration-section {
    width: 100%;
    padding: 5px;
    border: thin solid black;
    min-height: 80px;
    border-bottom: none;
}

.step-section h2 {
    border-bottom: medium solid black;
    padding-bottom: 5px;
}

.step-section > .wizard-configuration-section:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.step-section > .wizard-configuration-section:last-of-type {
    border-bottom: thin solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.wizard-configuration-section div.left-pane {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.wizard-configuration-section div.right-pane {
    width: 66%;
    display: inline-block;
}
