
@{
    ViewBag.Title = "NsbBootstrap";
}

<style>
    .wizard-body {
        width: 1100px;
        margin: auto;
    }

    .right-pane {
        width: 400px;
        max-height: 850px;
        overflow-y: scroll;
        float: right;
    }

    .left-pane {
        width: 700px;
        float: left;
    }

    select {
        padding: 4px;
    }

    div.configuration-selection {
        margin: 5px;
        padding: 10px;
        border: thin black solid;
        -ms-border-radius: 5px;
        border-radius: 5px;
    }

        div.configuration-selection .btn-success {
            margin-top: 15px;
            width: 100%;
        }

    div.configuration-display {
        margin: 5px;
        padding: 10px;
        border: thin black solid;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background-color: #00ffff;
    }

    .field {
        margin-bottom: 5px;
    }

        .field > label {
            width: 140px;
        }

    .wide-text-field input {
        width: 400px;
    }
</style>

<div ng-app="nsbBootstrap" ng-controller="bootstrapWizard" class="wizard-body">

    <h1>NServiceBus Bootstrapper</h1>

    <ol>
        <li>Select your version number </li>
        <li>Select your specific configuration from the available items for that version </li>
        <li>Click 'Bootstrap Me' </li>
        <li>Copy and paste the bus configuration into your project </li>
        <li>Copy and paste the NuGet commands into your Package Manager Console </li>
    </ol>

    <div class="left-pane">
        <h4 class="dropdown-field">
            <label>Select version: </label>
            <select ng-options="version as 'Version ' + version.NServiceBusVersion for version in builderModel.AvailableVersions"
                    ng-model="selectedVersion"
                    ng-change="setVersionDefaults()">
                <option value="">--Select version--</option>
            </select>
        </h4>

        <div ng-show="selectedVersion" class="configuration-selection">

            <h3>Version {{selectedVersion.NServiceBusVersion}} Options</h3>

            <div class="field wide-text-field">
                <label>Name your endpoint: </label>
                <input type="text" ng-model="endpointName" placeholder="Endpoint Name" />
            </div>

            <config-dropdown attr-items="selectedVersion.AvailableSerializers" attr-label="serializer" attr-model="selectedSerializer"></config-dropdown>
            <config-dropdown attr-items="selectedVersion.AvailableTransports" attr-label="transport" attr-model="selectedTransport"></config-dropdown>
            <config-dropdown attr-items="selectedVersion.AvailablePersistence" attr-label="persistence" attr-model="selectedPersistence"></config-dropdown>

            <button class="btn btn-success" ng-click="bootstrap()">Bootstrap me</button>
        </div>


        <div ng-show="bootstrapResult" class="configuration-display">
            <h4>Here is your bootstrapped configuration <span class="glyphicon glyphicon-hand-down"></span></h4>

            <div class="configuration-text">
                <h3>Bus Configuration</h3>

                <code ng-repeat-start="line in bootstrapResult.Configuration">
                    {{line}}
                </code>
                <br ng-if="!$last" ng-repeat-end />
            </div>

            <div class="configuration-text">
                <h3>NuGet Installer Commands</h3>

                <code ng-repeat-start="package in bootstrapResult.NuGetDependencies">
                    Install-Package {{package}}
                </code>
                <br ng-if="!$last" ng-repeat-end />
            </div>
        </div>
    </div>

    <div class="right-pane">
        <h2>Documentation Links</h2>
        <documentation-links attr-title="selectedSerializer.Name + 'Serializer'" attr-items="serializationDocumentation"></documentation-links>
        <documentation-links attr-title="selectedTransport.Name + 'Transport'" attr-items="transportDocumentation"></documentation-links>
        <documentation-links attr-title="selectedPersistence.Name + 'Persistence'" attr-items="persistenceDocumentation"></documentation-links>
    </div>
</div>