
@{
    ViewBag.Title = "NsbBootstrap";
}

<div ng-app="nsbBootstrap" ng-controller="bootstrapWizard">

    <select
        ng-options="version as 'Version ' + version.NServiceBusVersion for version in builderModel.AvailableVersions"
        ng-model="selectedVersion">
        <option value="">--Select version--</option>
    </select>

    <div ng-show="selectedVersion" style="margin: 7px; padding: 5px; border: thin black solid;">

        <h3>Version {{selectedVersion.NServiceBusVersion}} Configuration Options</h3>

        <div>
            <select ng-options="persistence as persistence.Name for persistence in selectedVersion.AvailablePersistence"
                    ng-model="selectedPersistence">
                <option value="">--Select persistence--</option>
            </select>
        </div>

        <div>
            <select ng-options="serializer as serializer.Name for serializer in selectedVersion.AvailableSerializers"
                    ng-model="selectedSerializer">
                <option value="">--Select serializer--</option>
            </select>
        </div>

        <div>
            <select ng-options="transport as transport.Name for transport in selectedVersion.AvailableTransports"
                    ng-model="selectedTransport">
                <option value="">--Select transport--</option>
            </select>
        </div>

    </div>

    <div ng-show="configuration">
        <h4>Here is your bootstrapped configuration, hand delivered</h4>
    </div>

    <div>
        <button ng-click="bootstrap()">Bootstrap me</button>
    </div>

</div>