
@{
    ViewBag.Title = "NsbBootstrap";
}

<style>
    div.logo {
        padding: 15px;
        margin: 10px;
        background-color: #bbb;
        display: inline-block;
        text-align: center;
        border: medium solid black;
    }

    .wizard-body {
        width: 85%;
        margin: auto;
        margin-bottom: 25px;
    }

    select {
        padding: 4px;
    }

    .wizard-configuration-section input {
        width: 400px;
    }

    .wizard-configuration-section {
        width: 100%;
        padding: 5px;
        border: thin solid black;
        min-height: 80px;
        border-bottom: none;
    }

    .step-section h2 {
        border-bottom: medium solid black;
        padding-bottom: 5px;
    }

    .step-section > .wizard-configuration-section:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .step-section > .wizard-configuration-section:last-of-type {
        border-bottom: thin solid black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .wizard-configuration-section div.left-pane {
        width: 33%;
        display: inline-block;
    }

    .wizard-configuration-section div.right-pane {
        width: 66%;
        display: inline-block;
    }
</style>

<div ng-app="nsbBootstrap" ng-controller="bootstrapWizard" class="wizard-body">

    <div class="logo">
        <h1>NServiceBus Launchpad</h1>
        <p>The place where we write the boring code for you</p>
    </div>

    <div>


        <div class="step-section">

            <h2>Step 0:</h2>

            <p>Have you looked at our <a href="http://docs.particular.net/">documentation</a>? We also have some excellent <a href="http://docs.particular.net/samples/">samples</a> to get you started.</p>

        </div>

        <div class="step-section">

            <h2>Step 1:</h2>
   
            <p>Pick the NServiceBus version you want to use.</p>

            <div class="wizard-configuration-section">
                <div class="left-pane">
                    NServiceBus Version
                </div>
                <div class="right-pane">
                    <select ng-options="version as 'Version ' + version.NServiceBusVersion for version in builderModel.AvailableVersions"
                            ng-model="selectedVersion"
                            ng-change="setVersionDefaults()">
                        <option value="">--Select version--</option>
                    </select>
                    <div>
                        Here is some help text about picking a version.
                    </div>
                </div>
            </div>
        </div>
        <div class="step-section" ng-show="selectedVersion">

            <h2>Step 2:</h2>
            <p>Fill in your configuration details. </p>

            <div ng-show="selectedVersion" class="wizard-configuration-section">
                <div class="left-pane">
                   Endpoint Name
                </div>
                <div class="right-pane">
                    <input type="text" ng-model="endpointName" placeholder="Endpoint Name" />
                    <div>
                        Here is some help text about naming your endpoint.
                    </div>
                </div>
            </div>

            <config-section ng-show="selectedVersion" config-model="selectedVersion.TransportSection"></config-section>
            <config-section ng-show="selectedVersion" config-model="selectedVersion.SerializerSection"></config-section>
            <config-section ng-show="selectedVersion" config-model="selectedVersion.PersistenceSection"></config-section>
        </div>

        <div class="step-section" ng-show="selectedVersion">

            <h2>Step 3:</h2>

            <p>Generate the code... </p>

            <button class="btn btn-success" ng-click="bootstrap()">Bootstrap me</button>
        </div>

        <div class="step-section" ng-show="bootstrapResult">

            <h2>Step 4:</h2>

            <p>Copy paste the generated code into your solution. </p>

            <div class="configuration-display">
                <h4>Here is your bootstrapped configuration <span class="glyphicon glyphicon-hand-down"></span></h4>

                <div class="configuration-text">
                    <h3>Bus Configuration</h3>

                    <div hljs language="cs" source="bootstrapResult.Configuration"></div>
                </div>

                <div class="configuration-text">
                    <h3>NuGet Installer Commands</h3>

                    <div hljs language="powershell" source="bootstrapResult.NuGetDependencies"></div>
                </div>
            </div>
        </div>

        <div class="step-section" ng-show="bootstrapResult">

            <h2>Step 5:</h2>
             <p>We would really like to know how this tool has helped you but more importantly how we can make it better.</p>
            <p>Tell us what you think, email Us at <a href="mailto:support@particular.net">support@particular.net</a>.</p>
        </div>
     </div>
</div>
