
@{
    ViewBag.Title = "Service Ignition";
}

<style>
    div.logo {
        padding: 15px;
        background-color: #bbb;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .wizard-body {
        width: 85%;
        margin: auto;
        margin-bottom: 25px;
    }

    select {
        padding: 4px;
    }

    .step-section {
        background-color: #ccf0ff;
        padding: 6px;
        margin-bottom: 5=8px;
        border-radius: 5px;
    }

    .wizard-configuration-section input {
        width: 380px;
    }

    .wizard-configuration-section {
        width: 100%;
        padding: 5px;
        border: thin solid black;
        min-height: 80px;
        border-bottom: none;
    }

    .step-section h2 {
        padding-bottom: 5px;
    }

    .step-section > .wizard-configuration-section:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .step-section > .wizard-configuration-section:last-of-type {
        border-bottom: thin solid black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .wizard-configuration-section div.left-pane {
        width: 30%;
        display: inline-block;
        float: left;
    }

    .wizard-configuration-section div.right-pane {
        width: 69%;
        display: inline-block;
    }

    .message-button {
        margin: 5px;
        padding: 5px;
        border: thin solid black;
        border-radius: 3px;
    }

    .display-none {
        display: none !important;
    }

    .message-box {
        margin-top: 10px;
    }
</style>

<div ng-app="nsbBootstrap" ng-controller="bootstrapWizard" class="wizard-body">

    <div class="logo">
        <h1>Service Ignition <sub>in Particular</sub></h1>
    </div>

    <div>

        <div class="step-section">

            <h2>Step 1: Create your configuration</h2>

            @* Version Selection *@
            <div class="wizard-configuration-section">
                <div class="left-pane">
                    Pick an NServiceBus Version:
                </div>
                <div class="right-pane">
                    <select ng-options="version as 'Version ' + version.NServiceBusVersion for version in builderModel.AvailableVersions"
                            ng-model="selectedVersion"
                            ng-change="setVersionDefaults()">
                        <option value="">--Select version--</option>
                    </select>
                    <div>
                        Select the major version of NServiceBus to use.
                        We will use the latest version available on NuGet.
                        The options available are also tied to the major version.
                    </div>
                </div>
            </div>

            @*<div ng-show="selectedVersion" class="wizard-configuration-section">
                    <div class="left-pane">
                        Subscription style:
                    </div>
                    <div class="right-pane">
                        <div class="btn-group">
                            <button class="btn "
                                    ng-class="{ 'btn-primary': selectedVersion.InCodeSubscriptions }"
                                    ng-click="selectedVersion.InCodeSubscriptions = false;">
                                App.config
                            </button>
                            <button class="btn "
                                    ng-class="{ 'btn-primary': !selectedVersion.InCodeSubscriptions }"
                                    ng-click="selectedVersion.InCodeSubscriptions = true;">
                                Code
                            </button>
                        </div>
                        <div>
                            Code style subscriptions will put your subscriptions in your EndpointConfiguration in C#.
                            App.config style will put them in your configuration file as XML.
                        </div>
                    </div>
                </div>*@

            <config-section ng-show="selectedVersion" config-model="selectedVersion.TransportSection"></config-section>
            <config-section ng-show="selectedVersion" config-model="selectedVersion.SerializerSection"></config-section>
            <config-section ng-show="selectedVersion" config-model="selectedVersion.PersistenceSection"></config-section>

            @*<div ng-show="selectedVersion" class="wizard-configuration-section">
                    <div class="left-pane">
                        Before you begin adding endpoints:
                    </div>
                    <div class="right-pane">
                        <p>
                            When you are adding messages: <br/>
                            If you add the same message to multiple endpoints, it will be treated as an event.
                            <br/>
                            If you add a message to only one endpoint, it will be treated as a generic message.
                        </p>
                        <p>
                            Commands tell a specific logical service WHAT to do.
                            Events come from an authoritative source to inform zero or many subscribers of what happened.
                            <br />
                            <a href="http://docs.particular.net/nservicebus/messaging/messages-events-commands">Learn more</a>
                        </p>
                    </div>
                </div>*@

            <div class="wizard-configuration-section"
                 ng-show="selectedVersion"
                 ng-repeat="endpoint in endpointList">

                <h3>{{endpoint.EndpointName}}</h3>

                <div class="wizard-configuration-section">
                    <div class="left-pane">
                        Name your Endpoint:
                    </div>
                    <div class="right-pane">
                        <input type="text" ng-model="endpoint.EndpointName" placeholder="Endpoint Name"/>
                    </div>
                </div>

                <div class="wizard-configuration-section">
                    <div>
                        <input ng-model="endpoint.currentMessageName"/> &nbsp;
                        <button ng-click="endpoint.addMessage(endpoint.currentMessageName)" class="btn btn-info">
                            Subscribe to Message
                        </button>

                        <div class="message-box">
                            <b>Messages: </b>
                            <span ng-repeat="message in endpoint.MessageHandlers"
                                  ng-class="{ 'display-none': message.IsEvent }"
                                  class="message-button">

                                {{message.MessageTypeName}}

                                <button class="btn btn-xs btn-danger"
                                        ng-click="endpoint.removeMessage(message)">
                                    X
                                </button>
                            </span>
                            <p ng-if="endpoint.MessageHandlers.length - endpoint.eventCount === 0">
                                There are no messages configured for this endpoint.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="wizard-configuration-section">
                    <div>
                        <input ng-model="endpoint.currentEventName"/> &nbsp;
                        <button ng-click="endpoint.addEvent(endpoint.currentEventName)" class="btn btn-info">
                            Subscribe to Event
                        </button>

                        &nbsp;
                        <select ng-if="sharedEvents.length > 0"
                                ng-options="message for message in sharedEvents"
                                ng-model="endpoint.existingEventToAdd"></select> &nbsp;

                        <button ng-if="sharedEvents.length > 0" class="btn btn-info"
                                ng-click="endpoint.addEvent(endpoint.existingEventToAdd)">
                            Subscribe to Existing Event
                        </button>

                        <div class="message-box">
                            <b>Events: </b>
                            <span ng-repeat="message in endpoint.MessageHandlers"
                                  ng-class="{ 'display-none': !message.IsEvent }"
                                  class="message-button">

                                {{message.MessageTypeName}}

                                <button class="btn btn-xs btn-danger"
                                        ng-click="endpoint.removeMessage(message)">
                                    X
                                </button>
                            </span>

                            <p ng-if="endpoint.eventCount === 0">
                                There are no events configured for this endpoint.
                            </p>
                        </div>
                    </div>
                </div>

            </div>


            <div ng-show="selectedVersion" class="wizard-configuration-section">
                <div class="left-pane">
                    <button ng-click="addNewEndpoint()"
                            class="btn btn-primary">
                        Add New Endpoint
                    </button>
                </div>
                <div class="right-pane">
                    <p>
                        An endpoint is a self-contained service. Name your endpoints according to the responsibility they hold.
                    </p>
                </div>
            </div>
        </div>


    </div>

    <div class="step-section" ng-show="selectedVersion && endpointList.length > 0">

        <h2>Step 2: Generate the code</h2>

        <div class="wizard-configuration-section">
            <div class="left-pane" style="float: left;">
                <button class="btn btn-success" ng-click="bootstrap()">Give me the download link</button>
            </div>

            <div class="right-pane">
                <span ng-if="!downloadLink">{{waitingMessage}}</span>

                <a ng-show="downloadLink" ng-href="{{downloadLink}}">Here is your download link as of {{createdDate}}</a>

                <ol ng-if="downloadLink">
                    <li>Unzip the solution </li>
                    <li>Open in Visual Studio </li>
                    <li>Run "Update-Package -Reinstall" in the Package Manager Console </li>
                </ol>
            </div>


        </div>
    </div>
</div>

@*<div class="right-pane">
        <h2>Documentation Links</h2>
        <documentation-links attr-title="selectedSerializer.Name + 'Serializer'" attr-items="serializationDocumentation"></documentation-links>
        <documentation-links attr-title="selectedTransport.Name + 'Transport'" attr-items="transportDocumentation"></documentation-links>
        <documentation-links attr-title="selectedPersistence.Name + 'Persistence'" attr-items="persistenceDocumentation"></documentation-links>
    </div>*@
