
@{
    ViewBag.Title = "NsbBootstrap";
}

<style>
    div.logo {
        padding: 15px;
        margin: 10px;
        background-color: #bbb;
        display: inline-block;
        text-align: center;
        border: medium solid black;
    }

    .wizard-body {
        width: 85%;
        margin: auto;
        margin-bottom: 25px;
    }

    select {
        padding: 4px;
    }

    .wizard-configuration-section input {
        width: 400px;
    }

    .wizard-configuration-section {
        width: 100%;
        padding: 5px;
        border: thin solid black;
        min-height: 80px;
        border-bottom: none;
    }

    .step-section h2 {
        border-bottom: medium solid black;
        padding-bottom: 5px;
    }

    .step-section > .wizard-configuration-section:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .step-section > .wizard-configuration-section:last-of-type {
        border-bottom: thin solid black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .wizard-configuration-section div.left-pane {
        width: 33%;
        display: inline-block;
    }

    .wizard-configuration-section div.right-pane {
        width: 66%;
        display: inline-block;
    }
</style>

<div ng-app="nsbBootstrap" ng-controller="bootstrapWizard" class="wizard-body">

    <div class="logo">
        <h1>Service Ignition <sub>in Particular</sub></h1>
        <p>The place where we write the boring code for you</p>
    </div>

    <ol>
        <li>Select your version number </li>
        <li>Select your specific configuration from the available items for that version </li>
        <li>Add endpoints and messages </li>
        <li>Click 'Give me the download link' </li>
        <li>Click the link that appears for your download </li>
        <li>Unzip the solution </li>
        <li>Open in Visual Studio </li>
        <li>Run "Update-Package -Reinstall" in the Package Manager Console </li>
    </ol>


    <div>

        <div class="step-section">

            <h2>Step 1:</h2>

            <p>Fill in your configuration details. </p>

            @* Version Selection *@
            <div class="wizard-configuration-section">
                <div class="left-pane">
                    Pick an NServiceBus Version:
                </div>
                <div class="right-pane">
                    <select ng-options="version as 'Version ' + version.NServiceBusVersion for version in builderModel.AvailableVersions"
                            ng-model="selectedVersion"
                            ng-change="setVersionDefaults()">
                        <option value="">--Select version--</option>
                    </select>
                    <div>
                        Select the major version of NServiceBus to use.
                        We will use the latest version available on NuGet.
                        The options available are also tied to the major version.
                    </div>
                </div>
            </div>

            <config-section ng-show="selectedVersion" config-model="selectedVersion.TransportSection"></config-section>
            <config-section ng-show="selectedVersion" config-model="selectedVersion.SerializerSection"></config-section>
            <config-section ng-show="selectedVersion" config-model="selectedVersion.PersistenceSection"></config-section>

            <div ng-show="selectedVersion" class="wizard-configuration-section">
                <div class="left-pane">
                    Before you begin adding endpoints:
                </div>
                <div class="right-pane">
                    <p>
                        When you are adding messages: <br/>
                        If you add the same message to multiple endpoints, it will be treated as an event.
                        <br/>
                        If you add a message to only one endpoint, it will be treated as a generic message.
                    </p>
                    <p>
                        Commands tell a specific logical service WHAT to do.
                        Events come from an authoritative source to inform zero or many subscribers of what happened.
                        <br />
                        <a href="http://docs.particular.net/nservicebus/messaging/messages-events-commands">Learn more</a>
                    </p>
                </div>
            </div>

            <div class="wizard-configuration-section">
                <button ng-show="selectedVersion"
                        ng-click="addNewEndpoint()"
                        class="btn btn-primary">
                    Add New Endpoint
                </button>
            </div>

            <div class="wizard-configuration-section"
                 ng-show="selectedVersion"
                 ng-repeat="endpoint in endpointList">

                <h3>{{endpoint.EndpointName}}</h3>

                <div class="wizard-configuration-section">
                    <div class="left-pane">
                        Name your Endpoint:
                    </div>
                    <div class="right-pane">
                        <input type="text" ng-model="endpoint.EndpointName" placeholder="Endpoint Name" />
                        <div>
                            An endpoint is a self-contained service. Name your endpoints according to the responsibility they hold.
                        </div>
                    </div>
                </div>

                <div class="wizard-configuration-section">
                    <input ng-model="endpoint.currentMessageName" /> &nbsp;
                    <button ng-click="endpoint.addMessage(endpoint.currentMessageName)">
                        Add New Message
                    </button>
                    &nbsp;
                    <select ng-if="sharedMessages.length > 0"
                            ng-options="message for message in sharedMessages"
                            ng-model="endpoint.existingMessageToAdd"></select> &nbsp;
                    <button ng-if="sharedMessages.length > 0"
                            ng-click="endpoint.addMessage(endpoint.existingMessageToAdd)">
                        Add Existing Message
                    </button>
                    <div style="margin-top: 6px;">
                        <span ng-repeat="message in endpoint.MessageHandlers" style="margin: 5px; padding: 5px; border: thin solid black; border-radius: 5px;">

                            {{message.MessageTypeName}} {{messageDefinitions[message.MessageTypeName] > 1 ? ' (Event)' : '' }}

                            <button class="btn btn-xs btn-danger"
                                    ng-click="endpoint.removeMessage(message)">
                                X
                            </button>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="step-section" ng-show="selectedVersion">

            <h2>Step 2:</h2>

            <p>Generate the code... </p>

            <div class="wizard-configuration-section">
                <div class="left-pane">
                    <button class="btn btn-success" ng-click="bootstrap()">Give me the download link</button>
                </div>
                <div class="right-pane">
                    <a ng-show="downloadLink" ng-href="{{downloadLink}}">Here is your download link as of {{createdDate}}</a>
                </div>
            </div>
        </div>
    </div>

    @*<div class="right-pane">
            <h2>Documentation Links</h2>
            <documentation-links attr-title="selectedSerializer.Name + 'Serializer'" attr-items="serializationDocumentation"></documentation-links>
            <documentation-links attr-title="selectedTransport.Name + 'Transport'" attr-items="transportDocumentation"></documentation-links>
            <documentation-links attr-title="selectedPersistence.Name + 'Persistence'" attr-items="persistenceDocumentation"></documentation-links>
        </div>*@
</div>
